

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EcoGaming - Assign Deals</title>
</head>
<body>
    
    <%- include('../partials/header.ejs', {avatar: avatar}) %>
    

    <% if (! DMSM || ! G2GSDB) { %>
        <h1>No Data. Please move entries in order to display them here.</h1>
    <%} else { %>
        <div id="top-wrapper"></div>
        <div id="bottom-wrapper">
            <div id="left-container">
                <table id="table-g2g"></table>
            </div>
            <div id="mid-container"></div>
            <div id="right-container">
                <table id="table-dmsm"></table>
            </div>
        </div>
    <%}%>
</body>
</html>