

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EcoGaming - Profile</title>
</head>
<body>
    
    <%- include('../partials/header.ejs', {avatar: avatar}) %>
    <h3>DMarket API Key</h3>
    <input type="password">
    <h3>Steam</h3>
</body>

</html>