h1 {
    font-size: xx-large;
}

h2 {
    margin-top: 3%;
    font-weight: bold;
}
.explanation {
    font-family: "Segoe UI","Liberation Sans",sans-serif;
    font-size: medium;
}

#outer-ex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
#inner-ex {
    padding-top: 2%;
    width: 80%;
}