.title-entry {
    width: 30%;
}

.title-entry a {
    justify-content: start;
    align-items: start;
}

.dm-price-entry {
    width: 5%;
}

.sm-price-entry {
    width: 5%;
}

.gain-diff-entry {
    width: 25%;
}

.gain-percentage-entry {
    width: 25%;
}

/* .buy-entry {
    width: 10%;
} */
.transpose-entry {
    width: 10%;
}



/* .buy-entry-link {
    color: black;
    font-weight: normal;
    font-family: monospace;
    font-size: 10px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    width: fit-content;
}

.buy-entry {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
} */

