.title-entry {
    width: 25%;
}

.title-entry a {
    justify-content: start;
    align-items: start;
}

.g2g-price-entry {
    width: 5%;
}

.steam-price-entry {
    width: 15%;
}

.gain-diff-entry {
    width: 20%;
}

.gain-percentage-entry {
    width: 20%;
}

.offer-count-entry {
    width: 5%;
}

.black-list-entry {
    width: 5%;
}

.transpose-entry {
    width: 5%;
}

.anchor-entry {
    cursor: pointer!important;
}

.force-single-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
/* .buy-entry-link {
    color: black;
    font-weight: normal;
    font-family: monospace;
    font-size: 10px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    width: fit-content;
}

.buy-entry {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}
 */
