
#login-panel {
    position: absolute;
    background-color: rgb(217,217,217);
    width: 25%;
    height: 300px;
    max-height: min-content;
    display: inline-grid;
    row-gap: 20px;
}


#login-form {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-items: space-between;
}

#status {
    font-family: 'Segoe UI', sans-serif;
    font-size: 12px;
    align-self: center;
    text-align: center;
}



input[type="text"], input[type="password"] {
    width: 200px;
    position: relative;
    
}

.input-line {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding-top: 7.5%;
    align-items: center;
    justify-content: center;
}

.first-input {
    margin-top: 3%;
}

.input-label {
    font-family: 'Segoe UI', sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: white;
    width: fit-content;
    padding-right: 2%;
    padding-left: 2%;
    align-self: center;
}

#btn-submit {
    width: 50%;
}

.shake {
    animation: shake 0.5s;
  
    animation-iteration-count: 2;
}