<link rel="stylesheet" type="text/css" href="css/partials/header.css">
<link rel="icon" type="image/png" sizes="200x200" href="/favicon.png">

<nav id="header-nav">
    
    <!-- OBSOLETO: <p class="nav-link"><a href="/add-game-data">Add Game Data</a></p> < !-- Chama o Scrapper da G2G-SteamDB e o do DMarket-SteamMarket na add -- > -->
    <p class="nav-link"><a href="/dashboard">Dashboard</a></p> 
    <p class="nav-link"><a href="/g2g-deals">G2G Deals</a></p> 
    <p class="nav-link"><a href="/dmarket-deals">DMarket Deals</a></p> 
    <p class="nav-link"><a href="/assign-deals">G2G | DMarket</a></p> 
    <p class="nav-link"><a href="/script-settings">Settings</a></p>
    <a class="nav-object" href="/profile"><img src="<%= avatar %>" class="nav-profile"></a>

</nav>
<div class="header-ghost-spacer"></div>