

<html>

<head>
    <title>EcoGaming - Error</title>
</head>
<body>

    <h1>Ocorreu um erro.</h1>
    <h2>Procura ajuda com o webadmin (DP#5255).</h2>
    <h3>Informações relevantes encontram-se abaixo:</h3>
    <textarea><%=info%></textarea>
    <p><i>ERROR_CODE: <strong><%=error_code%></strong></i></p>
    

</body>

</html>